.App {
  text-align: center;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.grid {
  padding: 30px 20px 30px 20px;
  width: 100%;
  height: auto;
}

.button {
  border-color: #6200EE!important;
  background-color: #6200EE!important;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.button span {
  border-color: #6200EE;
  background-color: #6200EE;
}

.description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.54)
}

.textInput {
  width: 100%;
  height: 55px;
}